&i2c0 {
    status = "okay";
	sda-gpios = <&gpio0 12 0>;
	scl-gpios = <&gpio0 11 0>;
    max32664@55{
        status = "okay";
        compatible = "max,max32664";
        reg = < 0x55 >;
        label = "MAX32664";
        rst-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
        mfio-gpios = <&gpio1 8 GPIO_PULL_UP>;
    };
};