&i2c1 {
	status = "okay";
	sda-gpios = <&gpio0 9 0>;
	scl-gpios = <&gpio1 2 0>;
    max30101@57{
        status = "okay";
        compatible = "max,max30101";
        reg = < 0x57 >;
        label = "MAX30101";
    };
};