osource "C:/Users/kangmin/ncs/v1.5.0/nrf/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/kangmin/ncs/v1.5.0/zephyr/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/kangmin/ncs/v1.5.0/zephyr/boards/shields/*/Kconfig.defconfig"
